*{
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav{
  font-weight: bold;
  font-size: 1.1em;
  background: #0069AA;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  color: #FFFFFF;
  padding: 0.5em;
}
section {
  padding: 5% 0 5% 0;
}
#options a {
  color: white;
  text-decoration: none;
}

#options a:active, #options a:hover {
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 10px;
  padding: 0.3em;
}

button {
  background-color: #0069AA;
  color: white;
  text-align: center;
  width: auto;
  height: 3.5em;
  padding: 1em;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  flex-direction:column;
}

p {
  margin-left: 5em;
  margin-right: 5em;
}

#name{
  width: 25%;
  float: left;
}
#options{
  width: 75%;
  float: right;
}
#events{
  padding-top: 5%;
}
#events iframe {
  width: 90%;
  height: 80vh;
}
#exec-board{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#exec-board *{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
/*headshot will be changed from a box to an image later*/
#headshot img{
  height: 10.0em;
  width: 10.0em;
}
#profile-link{
  color: #FFFFFF;
}
#exec-buttons{
  flex-direction: row;
}
#exec-buttons *{
  text-decoration: none;
  color: #0069AA;
  padding: 0.5em;
  width: 25%;
  border-radius: 15px;
  margin: 1%;
}
#programmer-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
}
#programmer{
  color: #FFFFFF;
  background-color: #0069AA;
  padding: 0.5em;
  width: 25%;
  border-radius: 15px;
  margin: 1%;
  flex-direction: row;
}

.heading, p {
  color: #0069AA;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-weight: bold;
}

.mentor-button {
  margin: 1em 3.5em 1.5em 3.5em;
  flex-direction: column;
  flex-wrap: wrap;
}

.project-button {
  margin: 1em 2em 1em 2em;
}

.our-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.ted-cell{
   width: 66%;
   margin-right: 10px;
   counter-increment: gallery-cell;
}
.ted-cell::before{
  display: block;
  text-align: center;
  content: counter(ted-cell);
  line-height: 200px;
}
footer {
  background-color: #CFCFCF;
  width: 100%;
  height: 2.0em;
  color: #FFFFFF;
  bottom: 0;
  left: 0;
  z-index: 2;
  font-weight: bold;
}


/* formatting for small-medium screens and landscape mode on phones */
@media only screen and (max-width: 768px){
  button{
    flex-wrap: wrap;
    text-align: center;
    width: auto;
  }

  .our-projects h3{
    flex-basis: 100%;
  }

  .our-projects{
    flex-wrap: wrap;
  }

  #exec-board{
    flex-flow: column wrap;
  }

}

/* formatting for small window size or mobile applications */
@media only screen and (max-width: 480px){
  button{
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    width: 75%;
    height: 60%;
  }

  p{
    width: 90%;
    margin: auto;
  }

  .mentor-button{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .our-projects{
    flex-direction: column;
  }

  #exec-board{
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
  }

  #programmer-buttons{
    flex-direction: column;
    flex-wrap: wrap;
  }

  #programmer{
    width:75%;
  }

}
